/*Para Pantallas SMARTPHONES*/
@media (max-width: 768px) {
    .Colum1{
    display: none;
    }
    .Formu{
        height:1550px;
        }
    .esp2{   
        text-align: center;
        display: block;
    }
    .alto{
        height: 130px;
    }
    
 }
 /*Para Pantallas PC/TABLES*/
 @media (min-width: 769px) {
    .Colum2{
    display: none;
    }
    .Formu{
        height:1330px;
        }
    .Nav_Centro{
        margin-left: 20vw
    }
    .esp2{   
        padding-left: 50px;
        padding-right: 50px;        
    }
    .alto{
        height: 90px;
    }
 }

a{
    font-family: roboto;
}
.ico{
    font-size: 300%;
    color: rgba(0, 0, 0, 0.8);
}
.ico-A{
    font-size: 300%;
    color: rgb(255, 255, 255);
}
.bb{
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
footer{
    bottom: 0;
    color: #fff;
    font-size: .9rem;
    background-color: #3A3A3A;
    
}
.footer_pg{   
    background-color: #2E2E2E;
    height: 100vmax;
}
.esp{   
    padding-left: 50px;
}
.Preset{
    color: #fff;
    background-color: #2E2E2E;
}
.fondo{
    background-image: url("https://raw.githubusercontent.com/IngJuanZD/decorationcw/master/img/Baner_2.jpg");
}
